{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "plugins": ["prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "plugins": ["prettier-plugin-sort-imports"]
      }
    }
  ]
}