@import url('../../styles/constants.scss');

.cart {
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    border-radius: .4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .cart__image {
      object-fit: contain;
      height: 250px;
      object-position: 50% 50%;
    }
  
    .cart__content {
      padding: 16px;
      display: flex;
      flex-direction: column;
      flex: 1;
  
      .cart__title {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        color: $second-color;
      }
  
      .cart__description {
        margin-top: 8px;
        font-size: 14px;
        color: $second-color;
      }
  
      .cart__price {
        margin-top:auto;
        font-size: 16px;
        font-weight: bold;
        color: $second-color;
        display: flex;
        justify-content:space-between;
      }
    }
  }

  .cart__button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: .2rem;
    padding: .5rem .5rem;
  }

  .cart__button__icon{
    width: 24px;
    height: 24px;
    fill: #333;
  }

  .cart__button:hover{
    background-color: $hover-color;
  }
  