.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    color: #293133;
    border-radius: .5rem;
    a{
        text-decoration: none;
    }
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
    span{
        color: aqua;
    }
  }
  
  .header__buttons {
    display: flex;
  }
  
  .header__button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: .2rem;
    padding: .5rem .5rem;
  }

  .header__button:hover{
    background-color: #808080;
  }
  
  .header__icon {
    width: 24px;
    height: 24px;
    fill: #333;
  }
  