@import url('../../styles/constants.scss');

.card {
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .card__image {
    object-fit: contain;
    height: 250px;
    object-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .card__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .card__title {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      color: $second-color;
    }

    .card__description {
      margin-top: 8px;
      font-size: 14px;
      color: $second-color;
    }

    .card__price {
      margin-top: auto;
      font-size: 16px;
      font-weight: bold;
      color: $second-color;
      display: flex;
      justify-content: space-between;
    }
  }
}

.card__button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 0.2rem;
  padding: 0.5rem 0.5rem;
}

.card__button__icon {
  width: 24px;
  height: 24px;
  fill: #333;
}

.card__button:hover {
  background-color: $hover-color;
}

.link {
  text-decoration: none;
}
